/* All */
:root {
    --almost_white: #fafafa;
    --medium_gray: #696969;
    --almost_black: #141414;
    font-size: 18px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "header header"
                         "main img"
                         "footer img"
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    background-color: #001aff;
}

img#component {
    grid-area: img;
    background-color: #00ff4c;
}

/* Mobile */
footer {
    grid-area: footer;
}

